body {
    margin: 0;
}

header {
    background-color: #292929;
    width: 100%;
    height: 60px;
}

.local {
    display: flex;
    justify-content: center;
    padding: 12px;
}

.input span {
    margin: -2px;
    overflow: hidden;
}

.input{
    color: #fff;
}

input[type="text"] {
    resize: none;
}

.input1 {
    border: 1px solid #fff;
    height: 35px;
    width: 200px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: transparent;
    color: white;
}
.input2 {
    border: 1px solid #fff;
    height: 35px;
    width: 200px;
    background-color: transparent;
    color: white;
}
.input3 {
    border: 1px solid #fff;
    height: 35px;
    width: 200px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: transparent;
    color: white;
}

::placeholder {
    color: white;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
}

#icon {
    display: inline;
    padding: 19px;
}

.hicon {
    display: inline-block;
    justify-content: center;
   margin-bottom: 25px;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 15px;
    font-style: italic;
    position: relative;
    bottom: 6px;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    margin-left: 10vh;
}

.card{
    display: flex;
    align-items: center;
    padding: 0 35px;
    justify-content: center;
    min-height: 50vh;
}
.wrapper{
    max-width: 1600px;
    position: relative;
}

.wrapper i {
    top: 50%;
    height: 45px;
    width: 46px;
    cursor: pointer;
    position: absolute;
    font-size: 1.2rem;
    text-align: center;
    line-height: 46px;
    background: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
}

.wrapper i:first-child{
    left: -23px;
}
.wrapper i:last-child{
    right: -23px;
}

.wrapper .carousel{
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.carousel.dragging{
    cursor: grab;
    scroll-behavior: smooth;
}

.carousel.dragging img{
    pointer-events: none;
}

.carousel img {
    height: 250px;
    object-fit: cover;
    margin-left: 14px;
    width: calc(100% / 4);
}

.carousel img:first-child{
    margin-left: 0px;
}

@media screen and (max-width: 900px) {
    .carousel img{
        width: calc(100% / 2);
    }
}
@media screen and (max-width: 550px) {
    .carousel img{
        width: 100%;
    }
}

.footer {
    background-color: #292929;
    height: 20vh;
}

.footer a {
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding: 15px;
    display: inline-block;
    justify-content: center;
    padding-top: 65px;
    font-size: small;
    text-decoration: none;
}

.faq {
    margin-left: 5vh;
}

hr {
    width: 185vh;
    background-color: #ebebeb;
    border: 0;
    border-bottom: 1px solid;
    border-color: #ebebeb;
    opacity: 0.3;
}

.copy p {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: small;
    opacity: 0.3;
}


.copy {
    color: white;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    margin-top: 15px;
    margin-left: 10vh;
    font-size: small;
}

.midias {
    display: flex;
    margin-top: 23px;
    margin-left: 140vh;
    gap: 10px;
}

.barbeiros {
    display: flex;
    align-items: center;
    padding: 0 35px;
    justify-content: center;
    min-height: 100vh;
}

.barbeiros img {
    display: flex;
    padding: 0 35px;
}

.sub {
    display: flex;
    margin-left: 67vh;
    justify-content: center;
    align-content: center;
    width: 70vh;
    font-family: 'Open Sans', sans-serif;
}

.tit {
    display: flex;
    justify-content: center;
}